{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
	<hr class="offset-md">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 md-padding">
            	<button class="btn btn-default btn-block" onclick="location.href='{% url 'add_product_category' %}';">Add Product Category</button>
                <h1 class="align-center">Add Product</h1>
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    {{ form.title.errors }}
                    {{ form.title | add_class:"form-control" | attr:"placeholder:Name" }}
                    <br>
                    {{ form.description.errors }}
                    {{ form.description | add_class:"form-control" | attr:"placeholder:Description" }}
                    <br>
                    {{ form.category.errors }}
                    {{ form.category | add_class:"form-control" | attr:"placeholder:Category" }}
                    <br>
                    {{ form.image.errors }}
                    {{ form.image | add_class:"form-control" | attr:"placeholder:Image" }}
                    <br>
                    <input class="btn btn-primary" type="submit" value="Add">
                    <br>
                </form>
            </div>
        </div>
    </div>
    <hr class="offset-md">
{% endblock content %}
