{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <hr class="offset-md">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 md-padding">
                <h1 class="align-center">Edit Product</h1>
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    {{ form.title.errors }}
                    {{ form.title | add_class:"form-control" | attr:"placeholder:Name" }}
                    <br>
                    {{ form.description.errors }}
                    {{ form.description | add_class:"form-control" | attr:"placeholder:Description" }}
                    <br>
                    {{ form.image.errors }}
                    {{ form.image | add_class:"form-control" | attr:"placeholder:Image" }}
                    <br>
                    <input class="btn btn-primary" type="submit" value="Edit">
                    <br>
                </form>
            </div>
        </div>
    </div>
    <hr class="offset-md">
{% endblock content %}