{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <hr class="offset-md">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 md-padding">
                <h1 class="align-center">Update Product Stock</h1>
                <form method="post">{% csrf_token %}
                    {{ form.num_in_stock.errors }}
                    {{ form.num_in_stock | add_class:"form-control" | attr:"placeholder:Number in Stock" }}
                    <br>
                    {{ form.price.errors }}
                    {{ form.price | add_class:"form-control" | attr:"placeholder:Price" }}
                    <br>
                    {{ form.low_stock_threshold.errors }}
                    {{ form.low_stock_threshold | add_class:"form-control" | attr:"placeholder:Low Stock Threshold" }}
                    <br>
                    <input class="btn btn-primary" type="submit" value="Update">
                    <br>
                </form>
            </div>
        </div>
    </div>
    <hr class="offset-md">
{% endblock content %}