{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="outside-content">
            <div class="inside-content">
                <div class="container">
                    <div class="row">
                        {% include "search_listview/search_and_page.html" %}
                    </div>
                    <div class="row">
                        {% for object in object_list %}
                            <div class="col-sm-6 col-md-3 product">
                                <div class="content">
                                    {% if object.image %}
                                        <img src="{{ object.image.url }}" alt="{{ object.title }}" height="250px" weight="250px">
                                    {% else %}
                                        <img src="{% static 'img/product/default.jpg' %}" alt="{{ object.title }}" height="250px" weight="250px">
                                    {% endif %}
                                    <h1 class="h4">{{ object.title }}</h1>
                                    <label>{{ object.category.name }}</label>
                                    <p>{{ object.description }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'search_listview/js/search_listview.js' %}"></script>
<script>start_search()</script> 
{% endblock content %}
