{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
	<hr class="offset-md">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 md-padding">
                <h1 class="align-center">Update Shop</h1>
                <form method="post">{% csrf_token %}
                    {{ form.name.errors }}
                    {{ form.name | add_class:"form-control" | attr:"placeholder:Name" }}
                    <br>
                    <input class="btn btn-primary" type="submit" value="Update">
                    <br>
                </form>
            </div>
        </div>
    </div>
    <hr class="offset-md">
{% endblock content %}