{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="outside-content">
            <div class="inside-content">
                <div class="container">
                    <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                        <div class="col-sm-6">
                            <button class="btn btn-default btn-block" onclick="location.href='{% url 'add_product' %}';">Add Product</button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-default btn-block" onclick="location.href='{% url 'edit_shop' pk=shop_pk %}';">Edit Shop Details</button>
                        </div>
                    </div>
                    <div class="row">
                        {% include "search_listview/search_and_page.html" %}
                    </div>
                    <div class="row">
                        {% for object in object_list %}
                            <div class="col-sm-6 col-md-3 product">
                                <div class="content">
                                    {% if object.image %}
                                        <img src="{{ object.image.url }}" alt="{{ object.title }}" height="250px" weight="250px">
                                    {% else %}
                                        <img src="{% static 'img/product/default.jpg' %}" alt="{{ object.title }}" height="250px" weight="250px">
                                    {% endif %}
                                    <h1 class="h4">{{ object.title }}</h1>
                                    <label>{{ object.category.name }}</label>
                                    <p>{{ object.description }}</p>
                                    {% if object.publish %}
                                        <button class="btn btn-default btn-block" onclick="location.href='{% url 'unpublish_product' pk=object.pk %}';">Unpublish</button>
                                    {% else %}
                                        <button class="btn btn-default btn-block" onclick="location.href='{% url 'publish_product' pk=object.pk %}';">Publish</button>
                                    {% endif %}
                                    <button class="btn btn-default btn-block" onclick="location.href='{% url 'edit_product' pk=object.pk %}';">Edit</button>
                                    <button class="btn btn-default btn-block" onclick="location.href='{% url 'delete_product' pk=object.pk %}';">Delete</button>
                                    <button class="btn btn-default btn-block" onclick="location.href='{% url 'update_product_stock' pk=object.stock.pk %}';">Update Stock</button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="offset-md">
<script src="{% static 'search_listview/js/search_listview.js' %}"></script>
<script>start_search()</script> 
{% endblock content %}
