{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <div class="content" style="margin-top: 10px;margin-bottom: 10px;">
    <div class="outside-content">
      <div class="inside-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 align-center">
              <h1>{% trans "Sign Up" %} as {{ role }}</h1>

              <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

              <form class="signup" id="signup_form" method="post" action="{{ signup_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit">{% trans "Sign Up" %} &raquo;</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
