{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="carousel" data-count="3" data-current="2">
      <!-- <button class="btn btn-control"></button> -->

      <div class="items">
        <div class="item active" data-marker="2">
          <img src="{% static 'img/carousel/bckg.jpg' %}" alt="Background" class="background"/>
          <div class="content">
            <div class="outside-content">
              <div class="inside-content">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 align-center">
                      <img src="{% static 'img/carousel/surfaces.jpg' %}" alt="Surface Pro"/>
                    </div>
                    <div class="col-sm-12 align-center">
                      <h1>New amazing laptops</h1>
                      <p>Provide lightweight and powerull</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="outside-content">
            <div class="inside-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 align-center">
                            <button class="btn-default" onclick="location.href='{% url 'shop_owner_login' %}';" type="button">Login as Shop Owner</button>
                        </div>
                        <div class="col-sm-6 align-center">
                            <button class="btn-default" onclick="location.href='{% url 'customer_login' %}';" type="button">Login as Customer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
